$primary: #2F8CC6;
$bg-color: $primary;

$grey-dark: #2e2e2e;
$grey-lighter: #EBEBEB;

$font-default: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-coursive: 'Revalia', cursive;

$header-height: 70px;
$sm-header-height: 50px;