@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Revalia&display=swap');
@import './variables';
@import './typegraphy';

* {
  box-sizing: border-box
}
html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $font-default;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer {
  cursor: pointer;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 1.2em 0;
  width: 90%;
  .page-title {
    font-size: 1.25em;
    font-weight: inherit
  }
}

.rounded-box,
.rounded-list {
  background-color: $grey-lighter;
  overflow: hidden;
  padding: 1em;
}
.rounded-box {
  border-radius: 1em;
  box-shadow: 0 .333em .666em rgba(0, 0, 0, 0.5);
  .title {
    font-size: 1em;
  }
}

.rounded-list {
  border-radius: .3em;
  box-shadow: 0 .13em .33em rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  &.pointer {
    transition: box-shadow .3s ease-in-out;
    &:hover {
      box-shadow: 0 .333em .666em rgba(0, 0, 0, 0.5);
    }
  }
}