@import './typegraphy';

/* width */
::-webkit-scrollbar {
  height: 6px !important;
  width: 6px !important;
  /* Track */
  &-track {
    background: transparent;
  }
  /* Handle */
  &-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    /* Handle on hover */
    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}

* {
  box-sizing: border-box
}
html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background-color: var(--content-bg);
  font-family: $font-default;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:optimizeLegibility;
  font-feature-settings:"kern";
  -webkit-font-feature-settings:"kern";
  -moz-font-feature-settings:"kern";
  -moz-font-feature-settings:"kern=1";
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.pointer {
  cursor: pointer;
}

.page-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 1.2em 0;
  width: 90%;
  .page-title {
    font-size: 1.25em;
    font-weight: inherit
  }
}

.rounded-box,
.rounded-list {
  background-color: var(--grey-lighter);
  overflow: hidden;
  padding: 1em;
}
.rounded-box {
  border-radius: 1em;
  box-shadow: 0 .333em .666em rgba(0, 0, 0, 0.5);
  .title {
    font-size: 1em;
  }
}

.rounded-list {
  border-radius: .3em;
  box-shadow: 0 .13em .33em rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  &.pointer {
    transition: box-shadow .3s ease-in-out;
    &:hover {
      box-shadow: 0 .333em .666em rgba(0, 0, 0, 0.5);
    }
  }
}