@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Revalia&display=swap');
@import './variables';
@import './typegraphy';

* {
  box-sizing: border-box
}
html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $font-default;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
